<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Creative - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="../../static/css/bootstrap.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../static/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="../../static/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../static/css/creative.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body id="page-top">
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-lg-offset-2 text-center">
                    {% if zipcode %}
                        {% set zipcode_display = 'display:none' %}
                        {% set nozipcode_display = 'display:block' %}
                    {% else %}
                        {% set nozipcode_display = 'display:none' %}
                        {% set zipcode_display = 'display:block' %}
                    {% endif %}
                      <div id="zipcode_entry" style='{{ zipcode_display }}'>
                        <input type="text" name="zipcode_input" placeholder="zipcode">

                        Search radius:
                        <select name="radius" id="radi
                        us">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                        </select> mi

                        <button type="button" class="btn btn-default btn-sm zipcode-submit-btn" id="zipcode-btn">
                              Submit
                        </button>
                      </div>
                      <div id="dummy_hood" style='{{ nozipcode_display }}'>
                      <p class="text-faded">Neighborhoods within {{ zipcode.split('r')[1] }} miles of {{ zipcode.split('r')[0] }}.
                          <a id="show_href" href="javascript:;" class="text-faded">Search for a different zipcode</a></p></div>
                </div>
                </div>
            </div>
        </div>
    </section>


    <div style="height:600px" id="map"></div>
    <div class="page-header2" id="info-box">
        <h1></h1>
        </div>

<div class="modal" id="myModal">
	<div class="modal-dialog">

      <div class="modal-content">
{#          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>#}
          <div class="photo">
            <h3>
                <a id="modal_hood_title" href="" title="Longueuil sur le Parc's Neighborhood Profile" data-ng-bind="neighborhood.name" class="ng-binding">Longueuil sur le Parc</a>
            </h3>

            <a class="photo-link" href="/neighborhoods/montreal/longueuil/longueuilsurleparc" title="Longueuil sur le Parc's Neighborhood Profile">

                <img class='photo' id="modal_hood_image" src="https://s3.amazonaws.com/n_neighborhoods/raw-longueuil-sur-le-parc-300x200.jpg" alt="Longueuil's Photo">
                </a>
         </div>

         <div class="details">
            <p id="desc_gist" class="summary ng-binding" data-ng-bind="neighborhood.title">A convenient greenspot</p>
            <p id="desc_summary" class="description ng-binding">This area of Longueuil wears its name well, as the greenest area of the entire city. Huge Michel-Chartrand Park offers a wonderful respite to famil...<a href="/neighborhoods/montreal/longueuil/longueuilsurleparc" title="Find out more about Longueuil sur le Parc"> See Neighborhood Profile</a></p>
        </div>
{#        <div class="modal-header">#}
{#          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>#}
{#          <h4 id="modal_hood_title" class="modal-title">Modal title</h4>#}
{#        </div>#}
{#        <div class="modal-body">#}
{#          <img id="image-gallery-image" class="img-responsive" src="http://upload.wikimedia.org/wikipedia/commons/7/78/1997_Fiat_Panda.JPG">#}
{#        </div>#}
      </div>
    </div>
</div>

    <script>
    if ('{{ zipcode }}' != 'None') {
        var map_data;
        var map;
        var url = 'zip_hood_data/' + '{{ zipcode }}';

        $.ajax({

            url: url,
            type: 'get',
            contentType: 'application/json',
            dataType: 'json',
            success: function (data, status, xhr) {
                map_data = JSON.parse(data);
                console.log(map_data);
                //successAction(data);
            },
            async: false
        });
    }

    $('#show_href').on('click', function(event){
       $('#dummy_hood').hide();
       $('#zipcode_entry').show();
    });

function initMap() {
    if ('{{ zipcode }}' != 'None') {
        var zoom_var;
        //console.log(map_data.features.length);
        if (map_data.features.length <= 5) {
            zoom_var = 12
        }
        else if (map_data.features.length <= 30) {
            zoom_var = 11
        }
        else if (map_data.features.length <= 100) {
            zoom_var = 10
        }
        else {
            zoom_var = 9
        }
        console.log(zoom_var);
    map = new google.maps.Map(document.getElementById('map'), {
        zoom: zoom_var,
        scrollwheel: false
    });

    map_coord = map_data.features[0].geometry.coordinates[0][0][0];
    console.log(map_data);
    map_color = map_data.features[0].properties.color;

    map.data.addGeoJson(map_data);

    map.data.setStyle(function (feature) {
        return {
            fillColor: feature.getProperty('color'),
            fillOpacity: 0.8,
            strokeColor: 'black',
            strokeWeight: 1
        };
    });

    map.setCenter(new google.maps.LatLng(map_coord[1], map_coord[0]));

    map.data.addListener('mouseover', function (event) {
        map.data.revertStyle();
        map.data.overrideStyle(event.feature, {strokeWeight: 8});
        document.getElementById('modal_hood_title').textContent = event.feature.getProperty('NAME');
        console.log(event.feature.getProperty('media'));
        //console.log(document.getElementById('modal_hood_image').attr('src'));
       // debugger;
        $('#modal_hood_image').attr('src', event.feature.getProperty('media'))
        //document.getElementById('modal_hood_image').attr('src').replace(event.feature.getProperty('media'));
    /* other options*/
    });

    map.data.addListener('click',function(event){
	    $('#myModal').modal({show:true})
    });
}
    else {
        latLng = [33.45, -112.06];
        map_vacant = new google.maps.Map(document.getElementById('map'), {
            zoom: 11,
            scrollwheel: false
        });


        map_vacant.setCenter(new google.maps.LatLng(latLng[0], latLng[1]));

    }
}



    </script>

   <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCewFxO002NOxwqXvamA2YSGC3aBVJwLQo&signed_in=true&callback=initMap"></script>

    <!-- jQuery -->
    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../../static/js/jquery.easing.min.js"></script>
    <script src="../../static/js/jquery.fittext.js"></script>
    <script src="../../static/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../static/js/creative.js"></script>
    <script src="../../static/js/zipcode/request.js"></script>

</body>

</html>
