<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
    <title>Data Layer: Simple</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
    var map_data;
    var map;
    var url;
    console.log({{ zipcode }});
    if ({{ zipcode }}) {
        url = '/zipcode/zip_hood_data/' + {{ zipcode }};
    }
    else {
        url = 'zipcode/shpdata'
    }
    $.ajax({

        url: url,
        type: 'get',
        contentType: 'application/json',
        dataType: 'json',
        success: function (data, status, xhr) {
            map_data = JSON.parse(data);
            //successAction(data);
        },
        async: false
    });


function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 8,
    center: {lat: 34, lng: -112}
  });
  map.data.addGeoJson(map_data);
  }

    </script>
   <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCewFxO002NOxwqXvamA2YSGC3aBVJwLQo&signed_in=true&callback=initMap"></script>
  </body>
</html>


