<!doctype html>
<title>DreamHome</title>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../static/js/zipcode/request.js"></script>
</head>
Welcome to DreamHome - Your companion to find your dream home.
<a href="/">Home</a>
<a href="/contact">Contact Us</a>
<form>
  Zipcode:<br>
  <input type="text" name="zipcode">
  <br>
  Top 3 priorities:<br>
  <input type="text" name="priorities">
  <button type="button" class="zipcode-submit-btn">
      Submit
  </button>
</form>

